In [15]:
import pandas as pd

# dando entrada nas tabelas que serão usadas
produtos_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Cadastro Produtos.csv', sep=';')
clientes_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Clientes.csv', sep=';')
lojas_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Lojas.csv', sep=';')
vendas2017_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Vendas  - 2017.csv', sep=';')

# filtrando as tabelas conforme as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome da Marca']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

# mesclando e renomeando colunas
vendas2017_df = vendas2017_df.merge(produtos_df, on='ID Produto')
vendas2017_df = vendas2017_df.merge(clientes_df, on='ID Cliente')
vendas2017_df = vendas2017_df.merge(lojas_df, on='ID Loja').rename(columns={'E-mail' : 'E-mail do Cliente'})
vendas2017_df

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,E-mail do Cliente,Nome da Loja
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,rbrumfieldmy@ameblo.jp,Loja Contoso Austin
1,640549,28/08/2017,01/09/2017,4,86,1646,3,30258,12,0,Contoso,patricia6@adventure-works.com,Loja Contoso Austin
2,102415,12/02/2017,13/02/2017,1,86,486,2,33377,4,0,Proseware,mya1@adventure-works.com,Loja Contoso Austin
3,940800,16/12/2017,22/12/2017,6,86,975,4,11108,6,0,A. Datum,meary31@desdev.cn,Loja Contoso Austin
4,715385,28/09/2017,28/09/2017,0,86,311,3,10568,6,0,Southridge Video,jphettiplaceft@utexas.edu,Loja Contoso Austin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,766546,14/10/2017,14/10/2017,0,65,346,1,7781,10,0,Fabrikam,psprowleslq@boston.com,Loja Contoso Racine No.2
980638,540137,19/07/2017,20/07/2017,1,65,397,3,30585,12,0,Wide World Importers,kathleen8@adventure-works.com,Loja Contoso Racine No.2
980639,864227,17/11/2017,17/11/2017,0,65,409,4,20491,6,0,Proseware,jscardifielddq@wp.com,Loja Contoso Racine No.2
980640,553823,24/07/2017,25/07/2017,1,65,362,3,33114,12,0,Adventure Works,evelyn1@adventure-works.com,Loja Contoso Racine No.2
980641,508546,06/07/2017,10/07/2017,4,65,338,3,20830,12,0,Fabrikam,cmollindinian5@bloglines.com,Loja Contoso Racine No.2

Calcular o % das vendas que foi devolvido:
    - somar a coluna 'Quantidade Devolvida'
    - somar a coluna 'Quantidade Vendida
    - dividir um pelo outro e multiplicar por 100

In [10]:
# somando as colunas
devolucoes = vendas2017_df['Quantidade Devolvida'].sum()
vendas_total = vendas2017_df['Quantidade Vendida'].sum()

# achando o %
porcentagem_devolvida = f'{devolucoes / vendas_total:.2%}'
porcentagem_devolvida

'1.17%'

Calcular o % das vendas que foi devolvido, mas de apenas uma loja:
    - filtrar o dataframe: dataframe[condição] - se houver várias condições, é melhor atribuir variáves a essas condições e depois chamar elas na função
    - somar as colunas
    - calcular o %

In [38]:
# filtrando o dataframe
vendas_loja306 = vendas2017_df[vendas2017_df['ID Loja'] == 306]
print(vendas_loja306[['ID Loja', 'Quantidade Vendida', 'Quantidade Devolvida', 'Nome da Loja']])

# somando as linhas
devolucoes_loja306 = vendas_loja306['Quantidade Devolvida'].sum()
vendas_total_loja306 = vendas_loja306['Quantidade Vendida'].sum()

# achando o % de devolução
porcentagem_devolvida_loja306 = devolucoes_loja306 / vendas_total_loja306
print('{:.2%}'.format(porcentagem_devolvida_loja306))

        ID Loja  Quantidade Vendida  Quantidade Devolvida  \
80499       306                   8                     0
80500       306                   8                     0
80501       306                  10                     0
80502       306                   6                     0
80503       306                  16                     0
...         ...                 ...                   ...
123265      306                  10                     0
123266      306                  12                     0
123267      306                   9                     0
123268      306                   9                     0
123269      306                  24                     0

                       Nome da Loja
80499   Loja Contoso Europe Online
80500   Loja Contoso Europe Online
80501   Loja Contoso Europe Online
80502   Loja Contoso Europe Online
80503   Loja Contoso Europe Online
...                             ...
123265  Loja Contoso Europe Online
123266  Loja Contoso Europe Online
123267  Loja Contoso Europe Online
123268  Loja Contoso Europe Online
123269  Loja Contoso Europe Online

[42771 rows x 4 columns]
1.33%

Filtrar o dataframe pela loja 306 e mostrar apenas as linhas que não tiveram devolução

In [61]:
# Separado:
    # atribuindo as variáveis
loja306_id = vendas2017_df['ID Loja'] == 306
loja306_devolucao_0 = vendas2017_df['Quantidade Devolvida'] == 0

    # chamando as variáveis e entregando o dataframe desejado
vendas_loja306 = vendas2017_df[loja306_id & loja306_devolucao_0]
display(vendas_loja306)

#Tudo junto:
#vendas_loja306 = vendas2017_df[(vendas2017_df['ID Loja'] == 306) & (vendas2017_df['Quantidade Devolvida'] == 0)]

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,E-mail do Cliente,Nome da Loja
80499,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,rbrumfieldmy@ameblo.jp,Loja Contoso Europe Online
80500,573981,01/08/2017,02/08/2017,1,306,240,9,13204,8,0,Contoso,cbatt5p@vistaprint.com,Loja Contoso Europe Online
80501,381297,24/05/2017,29/05/2017,5,306,655,1,13204,10,0,Proseware,cbatt5p@vistaprint.com,Loja Contoso Europe Online
80502,191294,20/03/2017,20/03/2017,0,306,1213,8,13204,6,0,Fabrikam,cbatt5p@vistaprint.com,Loja Contoso Europe Online
80503,2007,01/01/2017,02/01/2017,1,306,981,10,23908,16,0,A. Datum,lydia15@adventure-works.com,Loja Contoso Europe Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123265,504518,04/07/2017,08/07/2017,4,306,693,1,38412,10,0,Proseware,joy5@adventure-works.com,Loja Contoso Europe Online
123266,207654,27/03/2017,27/03/2017,0,306,70,8,494,12,0,Northwind Traders,amclaggandp@imgur.com,Loja Contoso Europe Online
123267,690333,18/09/2017,18/09/2017,0,306,1503,9,37447,9,0,The Phone Company,jason12@adventure-works.com,Loja Contoso Europe Online
123268,719438,29/09/2017,29/09/2017,0,306,1161,9,359,9,0,Fabrikam,efawcett9y@drupal.org,Loja Contoso Europe Online
123269,778547,18/10/2017,19/10/2017,1,306,1161,10,38376,24,0,Fabrikam,ashley39@adventure-works.com,Loja Contoso Europe Online

*time 16:15 video 25*