In [5]:
import pandas as pd

# dando entrada nas tabelas que serão usadas
produtos_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Cadastro Produtos.csv', sep=';')
clientes_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Clientes.csv', sep=';')
lojas_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Lojas.csv', sep=';')
novas_vendas2017_df = pd.read_csv(r'E:\Programas\Projetos-Python\Pandas\Contoso - Vendas  - 2017.csv', sep=';')

# filtrando as tabelas conforme as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome da Marca']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

# mesclando e renomeando colunas
novas_vendas2017_df = novas_vendas2017_df.merge(produtos_df, on='ID Produto')
novas_vendas2017_df = novas_vendas2017_df.merge(clientes_df, on='ID Cliente')
novas_vendas2017_df = novas_vendas2017_df.merge(lojas_df, on='ID Loja').rename(columns={'E-mail' : 'E-mail do Cliente'})
display(novas_vendas2017_df.head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,E-mail do Cliente,Nome da Loja
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,rbrumfieldmy@ameblo.jp,Loja Contoso Austin
1,640549,28/08/2017,01/09/2017,4,86,1646,3,30258,12,0,Contoso,patricia6@adventure-works.com,Loja Contoso Austin
2,102415,12/02/2017,13/02/2017,1,86,486,2,33377,4,0,Proseware,mya1@adventure-works.com,Loja Contoso Austin
3,940800,16/12/2017,22/12/2017,6,86,975,4,11108,6,0,A. Datum,meary31@desdev.cn,Loja Contoso Austin
4,715385,28/09/2017,28/09/2017,0,86,311,3,10568,6,0,Southridge Video,jphettiplaceft@utexas.edu,Loja Contoso Austin

Achar um dado específico na tabela:
    - duas formas:
        - loc - achar um dado conforme uma linha e uma coluna por meio de indice. Podendo transformar a linha em indice e achar por ela, assim como na coluna
        - iloc - sempre acha pela números (ex: dataframe.iloc[num_linha, num_coluna])
        
    - .set_index('argumento') - transforma a coluna argumento em índice 
    - .head(argumento) - pegar as primeiras linhas do dt ## Padrao 5 linhas se não colocar nada
    - .tail(argumento) - pegar as últimas linhas do dt ## Padrao 5 linhas se não colocar nada

In [6]:
# pegando o dado utilizando loc
display(novas_vendas2017_df.loc[[2,3,6,8]])

# transformando a coluna id produto em índice
novas_vendas2017_df = novas_vendas2017_df.set_index('Data da Venda')
#print(novas_vendas2017_df.head())

# pegando o dado utilizando loc e indice
print(novas_vendas2017_df.loc['11/11/2017', 'ID Produto'].head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,E-mail do Cliente,Nome da Loja
2,102415,12/02/2017,13/02/2017,1,86,486,2,33377,4,0,Proseware,mya1@adventure-works.com,Loja Contoso Austin
3,940800,16/12/2017,22/12/2017,6,86,975,4,11108,6,0,A. Datum,meary31@desdev.cn,Loja Contoso Austin
6,696568,20/09/2017,20/09/2017,0,86,1467,3,9789,12,1,Contoso,sodeeganly@wiley.com,Loja Contoso Austin
8,213286,30/03/2017,09/04/2017,10,86,684,2,17103,9,0,Proseware,blyokhin2y@fda.gov,Loja Contoso Austin

Data da Venda
11/11/2017     385
11/11/2017    1020
11/11/2017     526
11/11/2017    1157
11/11/2017    1194
Name: ID Produto, dtype: int64

In [7]:
# pegando o dado utilizando iloc
display(novas_vendas2017_df.iloc[2, 10])

'mya1@adventure-works.com'

Alterar um dado específico no df
    - achar o dado que quer e atribui atualiza o dado

In [10]:
# Substituindo um dado por outro
## loc:
novas_vendas2017_df.loc[novas_vendas2017_df['Numero da Venda'] == 102415, ['Quantidade Vendida']] = 69
display(novas_vendas2017_df)

## iloc:

Data da Venda
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
                        ...
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
12/02/2017    mya1@adventure-works.com
Name: E-mail do Cliente, Length: 2402, dtype: object

,Numero da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,E-mail do Cliente,Nome da Loja
Data da Venda,,,,,,,,,,,,
01/01/2017,1,02/01/2017,1,86,981,2,6825,9,1,A. Datum,rbrumfieldmy@ameblo.jp,Loja Contoso Austin
28/08/2017,640549,01/09/2017,4,86,1646,3,30258,12,0,Contoso,patricia6@adventure-works.com,Loja Contoso Austin
12/02/2017,102415,13/02/2017,1,86,486,2,33377,69,0,Proseware,mya1@adventure-works.com,Loja Contoso Austin
16/12/2017,940800,22/12/2017,6,86,975,4,11108,6,0,A. Datum,meary31@desdev.cn,Loja Contoso Austin
28/09/2017,715385,28/09/2017,0,86,311,3,10568,6,0,Southridge Video,jphettiplaceft@utexas.edu,Loja Contoso Austin
...,...,...,...,...,...,...,...,...,...,...,...,...
14/10/2017,766546,14/10/2017,0,65,346,1,7781,10,0,Fabrikam,psprowleslq@boston.com,Loja Contoso Racine No.2
19/07/2017,540137,20/07/2017,1,65,397,3,30585,12,0,Wide World Importers,kathleen8@adventure-works.com,Loja Contoso Racine No.2
17/11/2017,864227,17/11/2017,0,65,409,4,20491,6,0,Proseware,jscardifielddq@wp.com,Loja Contoso Racine No.2
24/07/2017,553823,25/07/2017,1,65,362,3,33114,12,0,Adventure Works,evelyn1@adventure-works.com,Loja Contoso Racine No.2
06/07/2017,508546,10/07/2017,4,65,338,3,20830,12,0,Fabrikam,cmollindinian5@bloglines.com,Loja Contoso Racine No.2